﻿@page
@model LoginModel

@{
    ViewData["Title"] = "CONSORCIO";
}

<div class="row">
    <div class="offset-md-3 col-md-6 card" style="margin-top:60px;">
        <h1 style="text-align:center;"class="display-5">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <hr />
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group" style="text-align:center;width:100%;">
                    <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Iniciar Sesión</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Olvido su contraseña?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <!--en caso de agregar autenticacion con google, face, etc iria este codigo-->
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

<style>
    body{
        background-color: #f2f2f2;
    }
    footer{
        background-color:white;
        color: black;
    }
    .card{
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}