﻿@model SistemaConsorcio.Models.Expensa
@if (@Model == null)
{
    <div class="text-center">
        <button class="btn btn-primary btn-nueva-expensa" style="margin-top:30px;">Abrir expensa&nbsp;&nbsp;<i class="fas fa-lock"></i></button>
    </div>
}
else
{
<div class="row ExpensaId" data-id="@Model.ExpensaId">
    <div class="col-md-12 movimientos">

    </div>
</div>
}
<script>
    $('.btn-nueva-expensa').hover(function () {
        $(this).children().addClass('fa-lock-open');
        $(this).children().removeClass('fa-lock');
    }, function () {
        $(this).children().addClass('fa-lock');
        $(this).children().removeClass('fa-lock-open');
    });
    $('.movimientos').load("@Url.Action("getMovimientosExpensa","Movimientos")"+'/'+$('.ExpensaId').data('id'));
    $('.btn-nueva-expensa').on('click', function (e) {
        e.preventDefault();
        var expen = {
            "ExpensaPeriodo": null,
            "ExpensaConfirmada": false
        }
        $.ajax({
            url: "@Url.Action("Create","Expensas")",
            method: 'Post',
            data: {
                expensa: expen
            }
        }).done((msg) => {
            if (msg.exitoso == true) {
                alertify.success(msg.alerta);
                $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                $('.contenedor').load("@Url.Action("getExpensaActual","Expensas")");
            } else {
                alertify.warning(msg.alerta);
            }
        }).fail(() => {
            alertify.error("Algo fallo al actualizar");
        });
    });
</script>