﻿@model IEnumerable<SistemaConsorcio.Models.Expensa>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Historial de expensas
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.ExpensaPeriodo)
                            </th>
                            <th>
                                Expensa liquidada
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))
                                        </td>
                                        <td>
                                            @if (item.ExpensaConfirmada)
                                            {
                                                <span>SI</span>
                                            }
                                            else
                                            {
                                                <span>NO</span>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Details" data-action="@Url.Action("Details","Expensas")/@item.ExpensaId" class="btn btn-info btn-index-ajax-nomenu"><i class="fas fa-info"></i></a>
                                            @if (!item.ExpensaConfirmada)
                                            {
                                                <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.ExpensaId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                            }
                                            else
                                            {
                                                <a href="" data-action="@Url.Action("getResumen","Expensas")/@item.ExpensaId" class="btn btn-info far fa-file-pdf descargarPdf"></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.descargarPdf').on('click', function (e) {
        e.preventDefault();
        $(this).attr('disabled', true);
        $.ajax({
            url: $(this).data('action'),
            responseType: "blob",
            type: 'Get'
        }).done((data) => {
            let bytes = base64ToArrayBuffer(data.pdf);
            let pdf = new Blob([bytes], { type: "application/pdf" });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(pdf);
            link.download = data.pdfName;
            document.body.append(link);
            link.click();
            link.remove();
            window.addEventListener('focus', e => URL.revokeObjectURL(link.href), { once: true });
            $(this).attr('disabled', false);
        }).fail(() => {
            alertify.error("No se puede descargar el pdf");
            $(this).attr('disabled', false);
        });
    });
    //generar pdf
        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }
</script>