﻿@model SistemaConsorcio.Models.ReportePago

@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bono de pago</title>
</head>
<body>
    <style>
        .izquierda {
            width: 50%;
            position: relative;
            float: left;
        }

        .derecha {
            width: 50%;
            position: relative;
            float: right;
        }
    </style>
    <div class="container">
        <table class="table table-borderless">
            <!--parte de arriba entera-->
            <thead style="background-color: antiquewhite">
                <tr>
                    <th scope="col">COMPROBANTE PAGO DE EXPENSAS COMUNES</th>
                    <th></th>
                </tr>
            </thead>
            <thead style="background-color: antiquewhite">
                <tr>
                    <th scope="col">Talon para el depositante</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        Total Dpto: $@Model.totalDepartamento
                        Coef: @Model.departamento.DepartamentoTipo.TipoDepartamentoCoeficiente
                    </th>
                    @if (@Model.departamento.DepartamentoCochera)
                    {
                        <th>
                            Total Cochera: $@Model.totalCochera
                            Cantidad: @Model.departamento.DepartamentoCantidadCochera
                        </th>
                    }
                </tr>
            </thead>
        </table>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>ADMINISTRACION:</td>
                    <td>@Model.general.GeneralNombreAdministracion</td>
                    <td>1er. VTO:</td>
                    <td>@Model.pagoPendiente.PagoPendienteFechaPrimerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                    <td>Importe:  $@Model.pagoPendiente.PagoPendienteImporte</td>
                </tr>
                <tr>
                    <td>CONSORCIO:</td>
                    <td>@Model.general.GeneralNombreConsorcio</td>
                    <td>2do. VTO:</td>
                    <td>@Model.pagoPendiente.PagoPendienteFechaSegundoVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                    <td>Importe:  $@Model.pagoPendiente.PagoPendientePrimerVencimiento</td>
                </tr>
                <tr>
                    <td>EXPENSAS MES:</td>
                    <td>@Model.expensa.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))</td>
                    <td>3er. VTO:</td>
                    <td>@Model.pagoPendiente.PagoPendienteFechaTercerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                    <td>Importe:   $@Model.pagoPendiente.PagoPendienteSegundoVencimiento</td>
                </tr>
                <tr>
                    <td>PROPIETARIO:</td>
                    <td>@Model.departamento.DepartamentoPropietario.PropietarioNombre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>UNIDAD HAB.:</td>
                    @if (Model.departamento.DepartamentoPiso == 0)
                    {
                        <td>PB @Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                    }
                    else
                    {
                        <td>@Model.departamento.DepartamentoPiso°@Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                    }
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr style="border-style:dashed" />
        <div class="izquierda">
            <div class="container">
                <table class="table table-borderless">
                    <!--parte de abajo izquierda-->
                    <thead style="background-color: antiquewhite">
                        <tr>
                            <th scope="col">COMPROBANTE PAGO DE EXPENSAS COMUNES</th>
                        </tr>
                    </thead>
                    <thead style="background-color: antiquewhite">
                        <tr>
                            <th scope="col">Talon para la administracion</th>
                        </tr>
                    </thead>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>ADMINISTRACION:</td>
                            <td>@Model.general.GeneralNombreAdministracion</td>
                        </tr>
                        <tr>
                            <td>CONSORCIO:</td>
                            <td>@Model.general.GeneralNombreConsorcio</td>
                        </tr>
                        <tr>
                            <td>EXPENSAS MES:</td>
                            <td>@Model.expensa.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))</td>
                        </tr>
                        <tr>
                            <td>UNIDAD HAB.:</td>
                            @if (Model.departamento.DepartamentoPiso == 0)
                            {
                                <td>PB @Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                            }
                            else
                            {
                                <td>@Model.departamento.DepartamentoPiso°@Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>1er. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaPrimerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe: $@Model.pagoPendiente.PagoPendienteImporte</td>
                        </tr>
                        <tr>
                            <td>2do. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaSegundoVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe: $@Model.pagoPendiente.PagoPendientePrimerVencimiento</td>
                        </tr>
                        <tr>
                            <td>3er. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaTercerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe:   $@Model.pagoPendiente.PagoPendienteSegundoVencimiento</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="derecha">
            <div style="position:relative;float:left;border:1px dashed rgb(94, 91, 91);margin-top:-15px;height:550px"></div>
            <!--parte de abajo derecha-->
            <div class="container">
                <table class="table table-borderless">
                    <thead style="background-color: antiquewhite">
                        <tr>
                            <th scope="col">COMPROBANTE PAGO DE EXPENSAS COMUNES</th>
                        </tr>
                    </thead>
                    <thead style="background-color: antiquewhite">
                        <tr>
                            <th scope="col">Talon para el banco</th>
                        </tr>
                    </thead>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>EXPENSAS MES:</td>
                            <td>@Model.expensa.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))</td>
                        </tr>
                        <tr>
                            <td>ACREDITAR EN CTA.:</td>
                            <td>@Model.general.GeneralNombreCuentaBancaria</td>
                        </tr>
                        <tr>
                            <td>UNIDAD HAB.:</td>
                            @if (Model.departamento.DepartamentoPiso == 0)
                            {
                                <td>PB @Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                            }
                            else
                            {
                                <td>@Model.departamento.DepartamentoPiso°@Model.departamento.DepartamentoTipo.TipoDepartamentoLetra</td>
                            }
                        </tr>
                        <tr>
                            <td>&nbsp</td>
                            <td>&nbsp</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>1er. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaPrimerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe: $@Model.pagoPendiente.PagoPendienteImporte</td>
                        </tr>
                        <tr>
                            <td>2do. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaSegundoVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe: $@Model.pagoPendiente.PagoPendientePrimerVencimiento</td>
                        </tr>
                        <tr>
                            <td>3er. VTO:</td>
                            <td>@Model.pagoPendiente.PagoPendienteFechaTercerVencimiento.ToString(string.Format("dd/MM/yyyy"))</td>
                            <td>Importe:   $@Model.pagoPendiente.PagoPendienteSegundoVencimiento</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>