﻿@model SistemaConsorcio.Models.Expensa

@{ 
    var total = Model.ExpensaReserva + ViewBag.subTotal;
}
<h1>
    Detalles de la expensa
</h1>
@if (!Model.ExpensaConfirmada)
{
    <button asp-action=""  data-action="@Url.Action("LiquidarExpensa","Expensas")" data-id="@Model.ExpensaId" data-reserva="@Model.ExpensaReserva" class="btn btn-primary btn-liquidar">Liquidar expensa</button>
    <button asp-action="ConfirmarExpensa" data-action="@Url.Action("ConfirmarExpensa","Expensas")" data-id="@Model.ExpensaId" class="btn btn-primary btn-confirmar-ajax d-none">Confirmar expensa</button>
    <a asp-action="Edit" data-action="@Url.Action("GetExpensaActual","Expensas")" class="btn btn-success btn-edit-expensa"><i class="fas fa-pencil-alt"></i></a>
}
<a asp-action="" data-action="@Url.Action("GetExpensas","Expensas")" class="btn btn-outline-dark btn-index-ajax-nomenu"><i class="fas fa-history"></i></a>
<div class="detalles" data-id="@Model.ExpensaId">
    <hr />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Periodo</i>
                    </div>
                    <br />
                    <br />
                    <br />
                    <h5 class="card-title">@Model.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))</h5>                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Sub-total</i>
                    </div>
                    <br />
                    <br />
                    <br />
                    <h5 class="card-title">$@ViewBag.subTotal</h5>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Reserva</i>
                    </div>
                    <br />
                    <br />
                    <br />
                    <h5 class="card-title">$<span class="reserva-expensa">@Model.ExpensaReserva</span></h5>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">&nbsp;&nbsp;Total&nbsp;&nbsp;</i>
                    </div>
                    <br />
                    <br />
                    <br />
                    <h5 class="card-title">$<span class="total-expensa">@total</span></h5>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
            <h2 class="card-title">
                Movimientos de la expensa
            </h2>
        <div class="info-movimientos row">

        </div>
    </div>
    <script>
        $('.info-movimientos').load("@Url.Action("getInfoMovimientosExpensa","Movimientos")"+"/"+$('.detalles').data('id'));
        $('.btn-liquidar').on('click', function (e) {
            e.preventDefault();
            var reserva = $(this).data('reserva');
            alertify.confirm('Liquidar Expensa', 'La reserva de la expensa es $' + reserva + '. Desea cargar una nueva reserva?',
                () => {
                    alertify.prompt('Nueva reserva', 'Ingrese la reserva de la expensa', reserva
                        , (evt, value) => { liquidarExpensa($(this), value); }
                        , () => { alertify.error('Liquidacion cancelada') })
                        .set('labels', { ok: 'CONFIRMAR', cancel: 'CANCELAR' });;
                }, () => { liquidarExpensa($(this), reserva) })
                .set('labels', { ok: 'SI', cancel: 'NO' });;
        });
        function liquidarExpensa(elem, reserva) {
            $(elem).html('<i class="fas fa-circle-notch fa-spin"></i>');
            $('.todo-contenido').addClass('d-none');
            $('.charge').removeClass('d-none');
            $.ajax({
                url: $(elem).data('action'),
                method: 'Post',
                responseType: "blob",
                data: {
                    id: $(elem).data('id'),
                    expensaReserva: reserva
                }
            }).done((data) => {
                $('.total-expensa').html(data.total);
                $('.reserva-expensa').html(data.reserva);
                //bono expensa
                let bytes = base64ToArrayBuffer(data.pdf);
                let pdf = new Blob([bytes], { type: "application/pdf" });
                const link = document.createElement('a');
                link.href = URL.createObjectURL(pdf);
                link.download = data.pdfName;
                document.body.append(link);
                link.click();
                link.remove();
                window.addEventListener('focus', e => URL.revokeObjectURL(link.href), { once: true });
                //calculo departamentos bono
                bytes = base64ToArrayBuffer(data.pdfList);
                pdf = new Blob([bytes], { type: "application/pdf" });
                const linkb = document.createElement('a');
                linkb.href = URL.createObjectURL(pdf);
                linkb.download = data.pdfListName;
                document.body.append(linkb);
                linkb.click();
                linkb.remove();
                window.addEventListener('focus', e => URL.revokeObjectURL(linkb.href), { once: true });
                //fin de los bonos
                alertify.success("Expensa liquidada");
                $(elem).addClass('d-none');
                $('.btn-confirmar-ajax').removeClass('d-none');
                $('.todo-contenido').removeClass('d-none');
                $('.charge').addClass('d-none');
            }).fail(() => {
                alertify.error("Algo fallo al actualizar");
                $(elem).html('Liquidar expensa');
                $('.todo-contenido').removeClass('d-none');
                $('.charge').addClass('d-none');
            });
        }
        function confirmarExpensa(elem) {
            $(elem).html('<i class="fas fa-circle-notch fa-spin"></i>');
            $('.todo-contenido').addClass('d-none');
            $('.charge').removeClass('d-none');
            $.ajax({
                url: $(elem).data('action'),
                method: 'Post',
                data: {
                    id: $(elem).data('id')
                }
            }).done((data) => {
                if (data) {
                    alertify.success("Expensa confirmada");
                    $('.btn-historial').click();
                } else {
                    alertify.error("Para confirmar la expensa se requiere conexion a internet");
                }
                $('.todo-contenido').removeClass('d-none');
                $('.charge').addClass('d-none');
            }).fail(() => {
                alertify.error("Algo fallo al actualizar");
                $(elem).html("Confirmar expensa");
                $('.todo-contenido').removeClass('d-none');
                $('.charge').addClass('d-none');
            });
        }
        $('.btn-confirmar-ajax').on('click', function (e) {
            e.preventDefault();
            var elem = $(this);
            alertify.confirm('Confirmacion de expensa', 'Esta seguro que quiere confirmar la expensa?', function () { confirmarExpensa(elem); }
                , function () { alertify.error('Expensa no confirmada') });
        });
        $('.btn-edit-expensa').on('click', function (e) {
            e.preventDefault();
            $('.btn-gestion').click();
        });
        //generar pdf
        function base64ToArrayBuffer(base64) {
            var binaryString = window.atob(base64);
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }
    </script>
