﻿@model SistemaConsorcio.Models.ReporteCalculoDepartamentos
@{ 
    Layout = null;
    decimal totalSufix = 0;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Resumen Expensa</title>
</head>
<body>
    <div class="container-fluid">
        <table class="table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col" colspan="4" class="text-center" style="background-color: lightgrey;"><h5>@Model.general.GeneralNombreConsorcio</h5></th>
                    <th scope="col" colspan="1" class="text-center" style="background-color: lightgrey;">@Model.expensa.ExpensaPeriodo.ToString(string.Format("MM-yyyy"))</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Departamento</td>
                    <td>Coeficiente departamento (%)</td>
                    <td>Cocheras</td>
                    <td>Valor cochera</td>
                    <td>Total a abonar</td>
                </tr>
                @foreach (var departamento in Model.departamentos)
                {
                    var totalDepartamento = ((departamento.DepartamentoTipo.TipoDepartamentoCoeficiente * Model.total) / 100)+(departamento.DepartamentoCantidadCochera * Model.general.GeneralPorcentajeCochera);
                    string sufixChar = null;
                    if (departamento.DepartamentoSufix.ToString().Length == 1)
                    {
                        sufixChar = "0.0" + departamento.DepartamentoSufix;
                    }
                    else
                    {
                        sufixChar = "0." + departamento.DepartamentoSufix;
                    }
                    decimal sufix = Convert.ToDecimal(sufixChar);
                    totalDepartamento = Math.Floor(totalDepartamento);
                    totalDepartamento = totalDepartamento+sufix;
                    totalSufix += totalDepartamento;
                    <tr>
                        @if (@departamento.DepartamentoPiso == 0)
                        {
                            <td>PB @Html.DisplayFor(d => departamento.DepartamentoTipo.TipoDepartamentoLetra)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(d => departamento.DepartamentoPiso)° @Html.DisplayFor(d => departamento.DepartamentoTipo.TipoDepartamentoLetra)</td>
                        }
                        <td>@Html.DisplayFor(d => departamento.DepartamentoTipo.TipoDepartamentoCoeficiente)</td>
                        <td>@Html.DisplayFor(d => departamento.DepartamentoCantidadCochera)</td>
                        <td>@Model.general.GeneralPorcentajeCochera</td>
                        <td>@totalDepartamento</td>
                    </tr>
                }
                <tr>
                    <td colspan="4">Total Cocheras</td>
                    @{var totalCocheras = Model.general.GeneralPorcentajeCochera * Model.cantidadCocheras;}
                    <td colspan="1">@totalCocheras</td>
                </tr>
                <tr>
                    <td colspan="4">Total a recaudar</td>
                    <td colspan="1">@totalSufix </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
