﻿@model SistemaConsorcio.Models.ReporteExpensa

@{
    Layout = null;
    var total = @Model.expensa.ExpensaReserva + @Model.subTotal;//7487 es el fondo de reserva
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Resumen Expensa</title>
</head>
<body>
    <div class="container-fluid">
        <table class="table table-borderless" style="border: 1.5px black solid;">
            <tbody>
                <tr>
                    <!--paddin arriba derecha abajo izquierda-->
                    <th style="padding: 0px 0px 0px 10px;" scope="col">Administracion de Consorcios</th>
                    <th scope="col" style="padding: 0px 0px 0px 0px;" class="">@Model.general.GeneralNombreAdministracion</th>
                    <td style="padding: 0px 10px 0px 0px;" class="text-right">@Model.general.GeneralDireccionAdministracion</td>
                </tr>
                <tr>
                    <td style="padding: 0;"></td>
                    <td></td>
                    <td style="padding: 0px 15px 0px 0px;" class="text-right">Tel (@Model.general.GeneralTelefonoAdministracion-@Model.general.GeneralTelefonoAdministracion)</td>
                </tr>
            </tbody>
        </table>
        <table class="table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col" colspan="2" class="text-center" style="background-color: lightgrey;"><h5>.::<span style="margin-right: 5px;"></span>Liquidacion Expensas Comunes<span style="margin-left: 5px;"></span>::. </h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color: lightgrey;">Consorcio Propietarios</td>
                    <td class="text-center">@Model.general.GeneralNombreConsorcio.ToUpper()</td>
                </tr>
                <tr>
                    <td style="background-color: lightgrey;">Periodo</td>
                    <td class="text-center">@Model.expensa.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))</td>
                </tr>
            </tbody>
        </table>
        @foreach (var rubro in Model.rubros)
        {
            decimal totalRubro = 0;
            <table class="table-bordered" style="width: 100%;margin-top:15px;">
                <thead>
                    <tr style="background-color: lightgrey;">
                        <th scope="col">@Html.DisplayFor(modelItem => rubro.RubroExpensaDescripcion)</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th scope="col" class="text-center">Imp. Parcial</th>
                        <th scope="col" class="text-center">Imp. Totales</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movimiento in Model.movimientos)
                    {
                        @if (movimiento.RubroExpensaId.Equals(rubro.RubroExpensaId))
                        {
                            totalRubro += movimiento.MovimientosImporte;
                            <tr>
                                <td>@Html.DisplayFor(i => movimiento.MovimientosDescripcion)</td>
                                @if (movimiento.MovimientosPagado)
                                {
                                    <td class="text-center">Pagado</td>
                                }
                                else
                                {
                                    <td class="text-center">No pagado</td>
                                }
                                <td class="text-center">@Html.DisplayFor(i => movimiento.MovimientosImporte)</td>
                                <td></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>TOTALES</td>
                        <td></td>
                        <td></td>
                        <td class="text-right">@totalRubro</td>
                    </tr>
                </tbody>
            </table>
        }
        <table class="table-bordered" style="width: 100%;margin-top:15px;">
            <tbody style="border: 1.5px black solid;">
                <tr>
                    <td colspan="4">Subtotal de Expensas Comunes</td>
                    <td class="text-right">@Model.subTotal</td>
                </tr>
                <tr>
                    <td colspan="4" style="border-bottom: 1.5px black solid;">Fondo de Reserva</td>
                    <td class="text-right" style="border-bottom: 1.5px black solid;">@Model.expensa.ExpensaReserva</td>
                </tr>
                <tr>
                    <td colspan="4" style="border: 1.5px black solid;">Total Expensas Comunes a Prorratear</td>
                    <td class="text-right" style="border: 1.5px black solid;">@total
                </tr>
            </tbody>
        </table>
        @if (@Model.movimientosInfo.Count > 0)
        {
            <table class="table-bordered" style="width: 100%;margin-top:15px;">
                <thead>
                    <tr style="background-color: lightgrey;">
                        <th scope="col">Informacion Economico/Financiera</th>
                        <th scope="col">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movimiento in Model.movimientosInfo)
                    {
                        if (movimiento.MovimientosImporte > 0)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => movimiento.MovimientosDescripcion)</td>
                                <td>@Html.DisplayFor(modelItem => movimiento.MovimientosImporte)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
