﻿@model SistemaConsorcio.Models.Departamento

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Departamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Agregar" class="submit-create" data-load="@Url.Action("getDepartamentos","Departamentos")">
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-9">
                        <label asp-for="PropietarioId" class="control-label"></label>
                        <select asp-for="PropietarioId" class="form-control PropietarioId" asp-items="ViewBag.PropietarioId"></select>
                    </div>
                    <div class="col-3">
                        <label asp-for="DepartamentoSufix" class="control-label"></label>
                        <input asp-for="DepartamentoSufix" class="form-control DepartamentoSufix" />
                        <span asp-validation-for="DepartamentoSufix" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col">
                        <label asp-for="DepartamentoPiso" class="control-label">Piso (0 para PB)</label>
                        <input asp-for="DepartamentoPiso" class="form-control DepartamentoPiso" />
                        <span asp-validation-for="DepartamentoPiso" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="TipoDepartamentoId" class="control-label"></label>
                        <select asp-for="TipoDepartamentoId" class="form-control TipoDepartamentoId" asp-items="ViewBag.TipoDepartamentoId"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="switch_box box_1 col">
                        <label class="form-check-label">
                            <p class="control-label">@Html.DisplayNameFor(model => model.DepartamentoCochera)</p><input class="switch_1 switch_suscr DepartamentoCochera" asp-for="DepartamentoCochera">
                        </label>
                    </div>
                    <div class="col d-none cant-cochera">
                        <label asp-for="DepartamentoCantidadCochera" class="control-label"></label>
                        <input asp-for="DepartamentoCantidadCochera" class="form-control DepartamentoCantidadCochera" />
                        <span asp-validation-for="DepartamentoCantidadCochera" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
            </div>
        </form>
    </div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('.DepartamentoCochera').on('change', function () {
        if ($(this).prop('checked')) {
            $('.cant-cochera').removeClass('d-none');
        } else {
            $('.cant-cochera').addClass('d-none');
        }
    });
    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        $('.btn-agregar').attr("disabled",true);
        let DepartamentoCochera = false;
        let DepartamentoCantidadCochera = 0;
        if( $('.DepartamentoCochera').prop('checked') ) {
            DepartamentoCochera = true;
            DepartamentoCantidadCochera = $('.DepartamentoCantidadCochera').val();
        }
        var depto = {
            "TipoDepartamentoId": $('.TipoDepartamentoId').val(),
            "DepartamentoPiso": $('.DepartamentoPiso').val(),
            "PropietarioId": $('.PropietarioId').val(),
            "DepartamentoCochera": DepartamentoCochera,
            "DepartamentoCantidadCochera": DepartamentoCantidadCochera,
            "DepartamentoSufix": $('.DepartamentoSufix').val()
        }
        if ($(this).valid()) {
            $.ajax({
                url: $(this).attr('action'),
                method: 'Post',
                data: {
                    departamento: depto
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.contenedor').load($(this).data('load'));
                    $('#ModalCU').modal('hide');
                    $('.btn-agregar').attr("disabled",false);
                } else {
                    alertify.warning(msg.alerta);
                    $('.btn-agregar').attr("disabled",false);
                }
                    }).fail((err) => {
                        alertify.error("Algo fallo al actualizar");
                        $('.btn-agregar').attr("disabled",false);
                });
        }
    });
</script>
