﻿@model IEnumerable<SistemaConsorcio.Models.Departamento>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Listado de departamentos <span style="display: block;float: right;"><a href="" class="btn-modal" data-toggle="modal" data-target="#ModalCU" data-action="@Url.Action("Create","Departamentos")"><i class="fas fa-plus-circle fa-2x"></i></a></span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                Departamento
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartamentoSufix)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartamentoPropietario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartamentoCochera)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartamentoSaldo)
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.DepartamentoPiso == 0)
                                        {
                                            <td>
                                                PB @Html.DisplayFor(modelItem => item.DepartamentoTipo.TipoDepartamentoLetra)
                                            </td>

                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DepartamentoPiso)°@Html.DisplayFor(modelItem => item.DepartamentoTipo.TipoDepartamentoLetra)
                                            </td>
                                        }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartamentoSufix)
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepartamentoPropietario.PropietarioNombre)
                                        </td>
                                        <td>
                                            @if (item.DepartamentoCochera)
                                            {
                                                <span>SI (@item.DepartamentoCantidadCochera)</span>
                                            }
                                            else
                                            {
                                                <span>NO</span>
                                            }
                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => item.DepartamentoSaldo)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.DepartamentoId" data-action="@Url.Action("Detalles","Departamentos")/@item.DepartamentoId" class="btn btn-info btn-index-ajax-nomenu"><i class="fas fa-info"></i></a>
                                            <a asp-action="Edit" data-action="@Url.Action("getDepartamento","Departamentos")/@item.DepartamentoId" class="btn-modal btn btn-success" data-toggle="modal" data-target="#ModalCU"><i class="fas fa-pencil-alt"></i></a>
                                            @if (item.DepartamentoSaldo <= 0)
                                            {
                                                <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.DepartamentoId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
