﻿@model SistemaConsorcio.Models.Departamento
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    @if (Model.DepartamentoPiso == 0)
                    {
                        <h4 class="card-title ">
                            Departamento PB @Model.DepartamentoTipo.TipoDepartamentoLetra <span style="display: block;float: right;"></span>
                        </h4>
                    }
                    else
                    {
                        <h4 class="card-title ">
                            Departamento @Model.DepartamentoPiso°@Model.DepartamentoTipo.TipoDepartamentoLetra <span style="display: block;float: right;"></span>
                        </h4>
                    }
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        Propietario
                                    </td>
                                    <td>
                                        @Model.DepartamentoPropietario.PropietarioNombre
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email del propietario
                                    </td>
                                    <td>
                                        @Model.DepartamentoPropietario.PropietarioEmail
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Telefono del propietario
                                    </td>
                                    <td>
                                        @Model.DepartamentoPropietario.PropietarioTelefono
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sufijo del departamento
                                    </td>
                                    <td>
                                        @Model.DepartamentoSufix
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <h3 class="card-category" style="font-size:30px;">Saldo</h3>
                    <h3 class="card-title saldo" style="font-size:30px;" data-id="@Model.DepartamentoId">$@ViewBag.saldo</h3>
                </div>
                <div class="card-footer">
                    @if (Model.DepartamentoPropietario.PropietarioSuscripto)
                    {
                        <button class="btn btn-primary bnt-ultima-expensa" data-action="@Url.Action("enviarUltimaExpensa","Departamentos")" data-id="@Model.DepartamentoId">Enviar ultima expensa</button>
                        <button class="btn btn-danger">Alerta de deuda</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Pagos pendientes <span style="display: block;float: right;"></span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                Periodo
                            </th>
                            <th>
                                Importe
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.pendientes)
                                {
                                <tr>
                                    <td>
                                        @item.PagoPendienteExpensa.ExpensaPeriodo.ToString(string.Format("dd/MM/yyyy"))
                                    </td>
                                    <td class="pagoPendienteImporte">
                                        @item.PagoPendienteImporte
                                    </td>
                                    <td>
                                        @item.PagoPendienteDescripcion <!--Cambiar modelo para poner si es depto o cochera-->
                                    </td>
                                    <td>
                                        <a href="" class="far fa-file-pdf fa-2x descargarPdf" data-action="@Url.Action("generarBonoPago","Expensas")" data-id="@item.PagoPendienteId"></a>
                                    </td>
                                    <td>
                                        <a href="" class="far fa-envelope fa-2x enviarPdf" data-action="@Url.Action("enviarBonoPago","Expensas")" data-id="@item.PagoPendienteId" data-propietario-mail="@Model.DepartamentoPropietario.PropietarioEmail"></a>
                                    </td>
                                    <td>
                                        <a href="" class="fab fa-paypal fa-2x modalPagar" data-toggle="modal" data-target="#ModalFormaPago" data-id="@item.PagoPendienteId"></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalFormaPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTituloFormaPago">Pagar bono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Fecha del pago</label>
                    <input type="date" class="form-control PagoFecha" required />
                    <span class="text-danger errorFecha"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Forma de pago</label>
                    <select class="form-control PagoForma">
                        <option value="Cuenta bancaria">Cuenta bancaria</option>
                        <option value="Contado">Contado</option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="control-label">Tipo de pago</label>
                        <select class="form-control TipoPago">
                            <option value="1">Completo</option>
                            <option value="0">Parcial</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label class="control-label">Importe</label>
                        <input type="number" class="form-control ImportePago" required disabled/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary pagarBono" data-action="@Url.Action("pagarBono","PagoPendientes")">Pagar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.TipoPago').on('change', function () {
        if ($(this).val() == 0) {
            $('.ImportePago').prop('disabled', false);
        } else {
            $('.ImportePago').prop('disabled', true);
        }
    });
    var modalActivo = false;
    $('.modalPagar').on('click', function () {
        $('.pagarBono').attr('id', $(this).data('id'));
        importeActual = parseFloat($(this).parents().siblings('.pagoPendienteImporte').html());
        $('.ImportePago').val(importeActual);
        modalActivo = $(this);
    });
    $('.pagarBono').on('click', function () {
        if ($('.PagoFecha').val()) {
            $('.errorFecha').html('');
            $.ajax({
                url: $(this).data('action'),
                type: 'Get',
                data: {
                    id: parseInt($(this).attr('id')),
                    formaPago: $('.PagoForma').val(),
                    fechaPago: $('.PagoFecha').val(),
                    completo: $('.TipoPago').val(),
                    importe: parseFloat($('.ImportePago').val())
                }
            }).done((data) => {
                if (data.success) {
                    alertify.success(data.msg);
                    $('#ModalFormaPago').modal('hide');
                    modalActivo.removeClass('fab fa-paypal fa-2x');
                    modalActivo.addClass('fas fa-circle-notch fa-spin');
                    if (data.liquidado) {
                        modalActivo.parent().parent().remove();
                        var currentTime = new Date();
                        $('.saldo').html('<span class="fas fa-circle-notch fa-spin"></span>');
                        $.get("@Url.Action("calcularSaldo","Departamentos")",
                            { idDepartamento: $('.saldo').data('id'), fecha: currentTime },
                            function (data) {
                                $('.saldo').html('$' + data);
                                modalActivo.addClass('fab fa-paypal fa-2x');
                                modalActivo.removeClass('fas fa-circle-notch fa-spin');
                            });
                    } else {
                        $.get("@Url.Action("Detalles","Departamentos")",
                            function (data) {
                                $('.modal-backdrop').remove();
                                $('.contenedor').html(data);
                            });
                    }
                } else {
                    alertify.error(data.msg);
                }

            }).fail(() => {
                alertify.error("No se pudo generar el pago");
            });
        } else {
            $('.errorFecha').html('Debe ingresar una fecha');
        }
    });
    $('.bnt-ultima-expensa').on('click', function (e) {
        e.preventDefault();
        $(this).html('<i class="fas fa-circle-notch fa-spin carga"></i>');
        $.ajax({
            url: $(this).data('action') + "/" + $(this).data('id'),
            type: 'Get',
            success: () => {
                $(this).html('Enviar ultima expensa');
                alertify.success("Expensa enviada");
            },
            error: function (err) {
                alertify.error("Error: " + err.msg);
            }
        });
    });
    $('.descargarPdf').on('click', function (e) {
        e.preventDefault();
        $(this).removeClass('far fa-file-pdf fa-2x');
        $(this).addClass('fas fa-circle-notch fa-spin');
        $.ajax({
            url: $(this).data('action'),
            responseType: "blob",
            type: 'Get',
            data: {
                pagoPendienteId: $(this).data('id')
            }
        }).done((data) => {
            $(this).addClass('far fa-file-pdf fa-2x');
            $(this).removeClass('fas fa-circle-notch fa-spin');
            let bytes = base64ToArrayBuffer(data.pdf);
            let pdf = new Blob([bytes], { type: "application/pdf" });
            const link = document.createElement('a');
            link.href = URL.createObjectURL(pdf);
            link.download = data.pdfName;
            document.body.append(link);
            link.click();
            link.remove();
            window.addEventListener('focus', e => URL.revokeObjectURL(link.href), { once: true });
            $(this).attr('disabled', false);
            alertify.success("Bono generado con exito");
        }).fail(() => {
            alertify.error("No se puede descargar el pdf");
            $(this).attr('disabled', false);
        });
    });
    //generar pdf
    function base64ToArrayBuffer(base64) {
        var binaryString = window.atob(base64);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        return bytes;
    }

    $('.enviarPdf').on('click', function (e) {
        e.preventDefault();
        $(this).removeClass('far fa-envelope fa-2x');
        $(this).addClass('fas fa-circle-notch fa-spin');
        $.ajax({
            url: $(this).data('action'),
            responseType: "blob",
            type: 'Get',
            data: {
                pagoPendienteId: $(this).data('id'),
                mailPropietario: $(this).data('propietario-mail')
            }
        }).done(() => {
            $(this).addClass('far fa-envelope fa-2x');
            $(this).removeClass('fas fa-circle-notch fa-spin');
            alertify.success("Bono enviado por mail");
        }).fail(() => {
            alertify.error("No se pudo enviar el bono por mail");
            $(this).attr('disabled', false);
            $(this).addClass('far fa-envelope fa-2x');
            $(this).removeClass('fas fa-circle-notch fa-spin');
        });
    });

</script>