﻿@model SistemaConsorcio.Models.Propietario

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Propietario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Create" class="submit-create">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="PropietarioNombre" class="control-label"></label>
                        <input asp-for="PropietarioNombre" class="form-control PropietarioNombre" />
                        <span asp-validation-for="PropietarioNombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="PropietarioCuil" class="control-label"></label>
                        <input asp-for="PropietarioCuil" class="form-control PropietarioCuil" />
                        <span asp-validation-for="PropietarioCuil" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="PropietarioDireccion" class="control-label"></label>
                        <input asp-for="PropietarioDireccion" class="form-control PropietarioDireccion" />
                        <span asp-validation-for="PropietarioDireccion" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="PropietarioTelefono" class="control-label"></label>
                        <input asp-for="PropietarioTelefono" class="form-control PropietarioTelefono" />
                        <span asp-validation-for="PropietarioTelefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label asp-for="PropietarioEmail" class="control-label"></label>
                        <input asp-for="PropietarioEmail" class="form-control PropietarioEmail" />
                        <span asp-validation-for="PropietarioEmail" class="text-danger"></span>
                    </div>
                    <div class="switch_box box_1 form-group col">
                        <label class="form-check-label">
                            <p class="control-label">@Html.DisplayNameFor(model => model.PropietarioSuscripto)</p><input type="checkbox" class="switch_1 PropietarioSuscripto" asp-for="PropietarioSuscripto" style="margin-bottom:20px;">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
            </div>
        </form>
    </div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        $('.btn-agregar').attr("disabled",false);
        let PropietarioSuscripto = false;
        if ($('.PropietarioSuscripto').prop('checked')) {
            PropietarioSuscripto = true;
        }
        var prop = {
            "PropietarioNombre": $('.PropietarioNombre').val(),
            "PropietarioCuil": $('.PropietarioCuil').val(),
            "PropietarioEmail": $('.PropietarioEmail').val(),
            "PropietarioSuscripto": PropietarioSuscripto,
            "PropietarioDireccion": $('.PropietarioDireccion').val(),
            "PropietarioTelefono": $('.PropietarioTelefono').val()
        }
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("Agregar","Propietarios")",
                method: 'Post',
                data: {
                    propietario: prop
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.contenedor').load("@Url.Action("getPropietarios","Propietarios")");
                    $('#ModalCU').modal('hide');
                    $('.btn-agregar').attr("disabled",true);
                } else {
                    alertify.warning(msg.alerta);
                    $('.btn-agregar').attr("disabled",false);
                }
            }).fail((err) => {
                alertify.error("Algo fallo al actualizar");
                $('.btn-agregar').attr("disabled",false);
            });
        }
    });
</script>

