﻿@model IEnumerable<SistemaConsorcio.Models.Propietario>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Listado de propietarios <span style="display: block;float: right;"><a href="" class="btn-modal" data-toggle="modal" data-target="#ModalCU" data-action="@Url.Action("Create","Propietarios")"><i class="fas fa-plus-circle fa-2x"></i></a></span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                Propietario
                            </th>
                            <th>
                                CUIL
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PropietarioEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PropietarioDireccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PropietarioTelefono)
                            </th>
                            <th>
                                Suscripto?
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropietarioNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropietarioCuil)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropietarioEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropietarioDireccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropietarioTelefono)
                                    </td>
                                    <td>
                                        @if (item.PropietarioSuscripto == false)
                                        {
                                            <span>NO</span>
                                        }
                                        else
                                        {
                                            <span>SI</span>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" data-action="@Url.Action("Edit","Propietarios")/@item.PropietarioId" class="btn btn-success btn-modal" data-toggle="modal" data-target="#ModalCU"><i class="fas fa-pencil-alt"></i></a>
                                        <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.PropietarioId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>