﻿@model IEnumerable<SistemaConsorcio.Models.Propietario>

<h1>Reporte Propietarios</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cuil</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PropietarioNombre)</td>
                <td>@Html.DisplayFor(modelItem => item.PropietarioCuil)</td>
                <td>@Html.DisplayFor(modelItem => item.PropietarioEmail)</td>
            </tr>
        }
    </tbody>
</table>
