﻿@model IEnumerable<SistemaConsorcio.Models.Pago>
<table class="table table-hover">
    <thead class=" text-primary">
    <th>
        @Html.DisplayNameFor(model => model.PagoDepartamento)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PagoFecha)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PagoImporte)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PagoForma)
    </th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (item.PagoDepartamento.DepartamentoPiso == 0)
            {
                <td>
                    PB @Html.DisplayFor(modelItem => item.PagoDepartamento.DepartamentoTipo.TipoDepartamentoLetra)
                </td>
            }
            else
            {
            <td>
                @Html.DisplayFor(modelItem => item.PagoDepartamento.DepartamentoPiso)°@Html.DisplayFor(modelItem => item.PagoDepartamento.DepartamentoTipo.TipoDepartamentoLetra)
            </td>            }
            <td>
                @item.PagoFecha.ToString(string.Format("dd/MM/yyyy"))
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.PagoImporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagoForma)
            </td>
        </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead class=" text-primary">
        <th>
            Total por banco
        </th>
        <th>
            Total contado
        </th>
        <th>
            Total
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                $@ViewBag.totalBanco
            </td>
            <td>
                $@ViewBag.totalCaja
            </td>
            <td>
                $@ViewBag.total
            </td>
        </tr>
    </tbody>
</table>


