﻿@model SistemaConsorcio.Models.Pago

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form asp-action="Create" class="submit-create">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="DepartamentoId" class="control-label"></label>
                    <select asp-for="DepartamentoId" class="form-control DepartamentoId" asp-items="ViewBag.DepartamentoId">
                        <option selected disabled>Elija un departamento...</option>
                    </select>
                    <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="PagoFecha" class="control-label"></label>
                    <input asp-for="PagoFecha" class="form-control PagoFecha" required/>
                    <span asp-validation-for="PagoFecha" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="PagoImporte" class="control-label">Tipo de pago</label>
                    <select class="form-control TipoPago">
                        <option value="0">Importe Total</option>
                        <option value="1">Importe Parcial</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label asp-for="PagoImporte" class="control-label">Importe ($)</label>
                    <input asp-for="PagoImporte" class="form-control PagoImporte" disabled value="0" />
                    <span asp-validation-for="PagoImporte" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="PagoForma" class="control-label"></label>
                    <select asp-for="PagoForma" class="form-control PagoForma">
                        <option value="Cuenta bancaria">Cuenta bancaria</option>
                        <option value="Contado">Contado</option>
                    </select>
                    <span asp-validation-for="PagoForma" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
        </div>
    </form>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $('.DepartamentoId').on('change', function () {
               $(".saldo").html('0');
               $(".PagoImporte").val(0);
               $.ajax({
                   url: "@Url.Action("calcularSaldo","Departamentos")",
                   type: 'Get',
                   data: {
                       idDepartamento: $('.DepartamentoId').val(),
                       fecha:$('.PagoFecha').val()
                   },
                   success: (data) => {
                       $(".saldo").html(data);
                       $(".PagoImporte").val(data);
                    },
                    error: function (err) {
                        alertify.error("Error: " + err.msg);
                    }
                });
    });
        $('.PagoFecha').on('change', function () {
               $(".saldo").html('0');
               $(".PagoImporte").val(0);
               $.ajax({
                   url: "@Url.Action("calcularSaldo","Departamentos")",
                   type: 'Get',
                   data: {
                       idDepartamento: $('.DepartamentoId').val(),
                       fecha:$(this).val()
                   },
                   success: (data) => {
                       $(".saldo").html(data);
                       $(".PagoImporte").val(data);
                    },
                    error: function (err) {
                        alertify.error("Error: " + err.msg);
                    }
                });
    });
    $('.TipoPago').on('change', function () {
        if ($(this).val() == 0) {
            $('.PagoImporte').prop('disabled',true);
        } else if ($(this).val() == 1) {
            $('.PagoImporte').prop('disabled', false);
        };
    });
    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        $('.btn-agregar').attr("disabled",true);
        var payment = {
            "DepartamentoId": $('.DepartamentoId').val(),
            "PagoFecha": $('.PagoFecha').val(),
            "PagoImporte": $('.PagoImporte').val(),
            "PagoForma": $('.PagoForma').val()
        }
        if ($(this).valid()) {
            alertify.confirm('Confirmar pago', 'Esta seguro que quiere cargar este pago?', () => {
                $.ajax({
                    url: "@Url.Action("Create","Pagos")",
                    method: 'Post',
                    data: {
                        pago: payment,
                        "TipoPago": $('.TipoPago').val()
                    }
                }).done((msg) => {
                    if (msg.exitoso == true) {
                        alertify.success(msg.alerta);
                        $('.contenido-tabla').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                        $('.contenido-tabla').load("@Url.Action("getPagos","Pagos")");
                        $('#ModalCU').modal('hide');
                        $('.btn-agregar').attr("disabled",false);
                    } else {
                        alertify.warning(msg.alerta);
                        $('.btn-agregar').attr("disabled",false);
                    }
                }).fail((err) => {
                    alertify.error("Algo fallo al actualizar");
                    $('.btn-agregar').attr("disabled",false);
                });
            }, function () { alertify.error('Pago cancelado') });
        }
    });
</script>
