﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Listado de pagos
                        <span style="display: block;float: right;">
                            <a href="" class="" data-toggle="modal" data-target="#FilterModal">
                                <i class="fas fa-search fa-2x"></i>
                            </a>
                            <!--    <a href="" class="btn-modal" data-toggle="modal" data-target="#ModalCU" data-action="@Url.Action("create","Pagos")">
            <i class="fas fa-plus-circle fa-2x"></i>
        </a>-->
                        </span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive contenido-tabla">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtrar pagos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col form-group">
                        <label class="control-label">Desde</label>
                        <input type="date" class="form-control FechaDesde" />
                    </div>
                    <div class="col form-group">
                        <label class="control-label">Hasta</label>
                        <input type="date" class="form-control FechaHasta" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-filtrar">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.contenido-tabla').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
    $('.contenido-tabla').load("@Url.Action("getPagos","Pagos")");
    $('.btn-filtrar').on('click', function () {
            $('.contenido-tabla').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
               $.ajax({
                   url: "@Url.Action("getPagos","Pagos")",
                   type: 'Get',
                   data: {
                       fechaDesde: $('.FechaDesde').val(),
                       fechaHasta: $('.FechaHasta').val()
                   },
                   success: (data) => {
                       $(".contenido-tabla").html(data);
                       $('#FilterModal').modal('hide');
                    },
                    error: function (err) {
                        alertify.error("Error: " + err.msg);
                    }
                });
    });
</script>