﻿@model SistemaConsorcio.Models.RubroExpensa

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo rubro de expensas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Create" class="submit-create">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RubroExpensaDescripcion" class="control-label"></label>
                    <input asp-for="RubroExpensaDescripcion" class="form-control RubroExpensaDescripcion" />
                    <span asp-validation-for="RubroExpensaDescripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
            </div>
        </form>
    </div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        let RubroExpensaInformacion = false;
        $('.btn-agregar').attr("disabled",true);
        if( $('.RubroExpensaInformacion').prop('checked') ) {
            RubroExpensaInformacion = true;
        }
        var rubro = {
            "RubroExpensaDescripcion": $('.RubroExpensaDescripcion').val()
        }
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("Agregar","RubroExpensas")",
                method: 'Post',
                data: {
                    rubroExpensa: rubro
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.contenedor').load("@Url.Action("getRubroExpensas","RubroExpensas")");
                    $('#ModalCU').modal('hide');
                    $('.btn-agregar').attr("disabled",false);
                } else {
                    alertify.warning(msg.alerta);
                    $('.btn-agregar').attr("disabled",false);
                }
                    }).fail(() => {
                        alertify.error("Algo fallo al actualizar");
                        $('.btn-agregar').attr("disabled",false);
                });
        }
    });
</script>
