﻿@model SistemaConsorcio.Models.RubroExpensa


    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Editar rubro de expensas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Edit" class="submit-edit" data-id="@Model.RubroExpensaId">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RubroExpensaId" data-id="@Model.RubroExpensaId" class="RubroExpensaId" />
                <div class="form-group">
                    <label asp-for="RubroExpensaDescripcion" class="control-label"></label>
                    <input asp-for="RubroExpensaDescripcion" class="form-control RubroExpensaDescripcion" />
                    <span asp-validation-for="RubroExpensaDescripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('.submit-edit').on('submit', function (e) {
        e.preventDefault();
        let RubroExpensaInformacion = false;
        if ($('.RubroExpensaInformacion').prop('checked')) {
            RubroExpensaInformacion = true;
        }
        var rubro = {
            "RubroExpensaId": $(this).data('id'),
            "RubroExpensaDescripcion": $('.RubroExpensaDescripcion').val(),
            "RubroExpensaInformacion": RubroExpensaInformacion
        }
        if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("ActualizarRubroExpensa","RubroExpensas")",
                method: 'Post',
                data: {
                    rubroExpensa: rubro
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.contenedor').load("@Url.Action("getRubroExpensas","RubroExpensas")");
                    $('#ModalCU').modal('hide');
                } else {
                    alertify.warning(msg.alerta);
                }
            }).fail((err) => {
                alertify.error("Algo fallo al actualizar");
            });
        }
    });
</script>


