﻿@model IEnumerable<SistemaConsorcio.Models.RubroExpensa>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Listado de rubros <span style="display: block;float: right;"><a href="" class="btn-modal" data-toggle="modal" data-target="#ModalCU" data-action="@Url.Action("create","RubroExpensas")"><i class="fas fa-plus-circle fa-2x"></i></a></span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.RubroExpensaDescripcion)
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RubroExpensaDescripcion)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" data-action="@Url.Action("getRubroExpensa","RubroExpensas")/@item.RubroExpensaId" data-toggle="modal" data-target="#ModalCU" class="btn btn-success btn-modal"><i class="fas fa-pencil-alt"></i></a>
                                            @if (item.RubroExpensaId != 1)
                                            {
                                                <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.RubroExpensaId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>