﻿@model SistemaConsorcio.Models.TipoDepartamento

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo tipo de departamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form asp-action="Create" class="submit-create">
        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col">
                    <label asp-for="TipoDepartamentoLetra" class="control-label"></label>
                    <input asp-for="TipoDepartamentoLetra" class="form-control TipoDepartamentoLetra" />
                    <span asp-validation-for="TipoDepartamentoLetra" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="TipoDepartamentoCoeficiente" class="control-label"></label>
                    <input asp-for="TipoDepartamentoCoeficiente" class="form-control TipoDepartamentoCoeficiente" placeholder="%" />
                    <span asp-validation-for="TipoDepartamentoCoeficiente" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
        </div>
    </form>
</div>

<script>
    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        $('.btn-agregar').attr("disabled",true);
        var depto = {
            "TipoDepartamentoLetra": $('.TipoDepartamentoLetra').val(),
            "TipoDepartamentoCoeficiente": $('.TipoDepartamentoCoeficiente').val()
        }
        $.ajax({
            url: "@Url.Action("Agregar", "TiposDepartamentos")",
            method: 'Post',
            data: {
                departamento: depto
            }
        }).done((msg) => {
            if (msg.exitoso == true) {
                alertify.success(msg.alerta);
                $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                $('.contenedor').load("@Url.Action("getTipos","TiposDepartamentos")");
                $('#ModalCU').modal('hide');
                $('.btn-agregar').attr("disabled",false);
            } else {
                alertify.warning(msg.alerta);
                $('.btn-agregar').attr("disabled",false);
            }
        }).fail((err) => {
            alertify.error("Algo fallo al actualizar");
            $('.btn-agregar').attr("disabled",false);
        });
    });
</script>
