﻿@model SistemaConsorcio.Models.TipoDepartamento

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Editar tipo de departamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Edit" class="submit-edit">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TipoDepartamentoId" class="TipoDepartamentoId" data-id="@Model.TipoDepartamentoId" />
                <div class="col">
                    @if (Model.TipoDepartamentoLetra == "Z")
                    {
                        <label class="control-label label-letra">Tipo</label>
                        <input asp-for="TipoDepartamentoLetra" value="Cochera" class="form-control TipoDepartamentoLetra" disabled />
                    }
                    else
                    {
                        <label asp-for="TipoDepartamentoLetra" class="control-label label-letra"></label>
                        <input asp-for="TipoDepartamentoLetra" class="form-control TipoDepartamentoLetra" disabled />
                    }
                    <span asp-validation-for="TipoDepartamentoLetra" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="TipoDepartamentoCoeficiente" class="control-label"></label>
                    <input asp-for="TipoDepartamentoCoeficiente" class="form-control TipoDepartamentoCoeficiente" />
                    <span asp-validation-for="TipoDepartamentoCoeficiente" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>

<script>
    $('.submit-edit').on('submit', function (e) {
        e.preventDefault();
        let letra = $('.TipoDepartamentoLetra').val();
        if (letra == 'Cochera')
            letra = 'Z';
        var depto = {
            "TipoDepartamentoId": $('.TipoDepartamentoId').data('id'),
            "TipoDepartamentoLetra": letra,
            "TipoDepartamentoCoeficiente": $('.TipoDepartamentoCoeficiente').val(),
        }
        //     if ($(this).valid()) {
        $.ajax({
            url: "@Url.Action("ActualizarTipoDepartamento","TiposDepartamentos")",
            method: 'Post',
            data: {
                departamento: depto
            }
        }).done((msg) => {
            if (msg.exitoso == true) {
                alertify.success(msg.alerta);
                $('.contenedor').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                $('.contenedor').load("@Url.Action("getTipos","TiposDepartamentos")");
                $('#ModalCU').modal('hide');
            } else {
                alertify.warning(msg.alerta);
            }
        }).fail((err) => {
            alertify.error("Algo fallo al actualizar");
        });
        //    }
    });
</script>

