﻿@model IEnumerable<SistemaConsorcio.Models.TipoDepartamento>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Tipos de departamentos <span style="display: block;float: right;"><a href="" class="btn-modal" data-toggle="modal" data-target="#ModalCU" data-action="@Url.Action("create","TiposDepartamentos")"><i class="fas fa-plus-circle fa-2x"></i></a></span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TipoDepartamentoLetra)
                                    </th>
                                    <th>
                                        Coeficiente
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    @if (item.TipoDepartamentoLetra == "Z")
                                    {
                                        <tr>
                                            <th scope="row">
                                                Cochera
                                            </th>
                                            <td>
                                                % @Html.DisplayFor(modelItem => item.TipoDepartamentoCoeficiente)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.TipoDepartamentoId" data-action="@Url.Action("Edit","TiposDepartamentos")/@item.TipoDepartamentoId" class="btn btn-success btn-modal" data-toggle="modal" data-target="#ModalCU"><i class="fas fa-pencil-alt"> </i></a>
                                            </td>

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <th scope="row">
                                                @Html.DisplayFor(modelItem => item.TipoDepartamentoLetra)
                                            </th>
                                            <td>
                                                % @Html.DisplayFor(modelItem => item.TipoDepartamentoCoeficiente)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.TipoDepartamentoId" data-action="@Url.Action("Edit","TiposDepartamentos")/@item.TipoDepartamentoId" class="btn btn-success btn-modal" data-toggle="modal" data-target="#ModalCU"><i class="fas fa-pencil-alt"></i></a>
                                                <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.TipoDepartamentoId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
