﻿<div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Valor Expensas</h4>
                <p class="card-category">
                    Valor de las expensas de los ultimos 6 meses.
                </p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Pagos</h4>
                <p class="card-category">Ingresos por pagos en los ultimos 6 meses.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<script>
   var data = {
          labels: ['Julio','Agosto', 'Sept', 'Oct', 'Nov', 'Dic'],
          series: [
            [2000, 2000, 4000, 2000, 1000, 1599]
          ]
        };
    new Chartist.Bar('#dailySalesChart', data);

        var data = {
          labels: ['Julio','Agosto', 'Sept', 'Oct', 'Nov', 'Dic'],
          series: [
            [2000, 2000, 4000, 2000, 1000, 1599]
          ]
        };
        new Chartist.Line('#websiteViewsChart', data);
</script>
