﻿@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<h1>Administre su cuenta</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
