﻿@model IEnumerable<SistemaConsorcio.Models.Movimientos>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Movimientos de la expensa 
                        <span style="display: block;float: right;">
                            <a href="" id="create-mov" data-toggle="modal" data-target="#ModalCU" data-id-expensa="@ViewBag.expensa"><i class="fas fa-plus-circle fa-2x"></i></a>
                            <a asp-action="Details" data-action="@Url.Action("Details","Expensas")/@ViewBag.expensa" class=" btn-index-ajax-nomenu"><i class="fas fa-info-circle fa-2x"></i></a>
                        </span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.MovimientosRubro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MovimientosDescripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MovimientosPagado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MovimientosImporte)
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MovimientosRubro.RubroExpensaDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MovimientosDescripcion)
                                    </td>
                                    <td>
                                        @if (item.MovimientosPagado)
                                        {
                                            <i class="fas fa-check"></i>
                                        }
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.MovimientosImporte)
                                    </td>
                                    <td>
                                        <a href="" id="edit-mov" data-action="@Url.Action("edit","Movimientos")/@item.MovimientosId" data-toggle="modal" data-target="#ModalCU" class="btn-modal btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" data-action="@Url.Action("Delete")" data-id="@item.MovimientosId" class="btn btn-danger btn-delete-ajax"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#create-mov').on('click', function () {
        $('.contain-CU').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
        $('.contain-CU').load("@Url.Action("Create","Movimientos")"+'/'+$(this).data('id-expensa'));
    });
    $('#edit-mov').on('click', function () {
        $('.contain-CU').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
        $('.contain-CU').load($(this).data('action'));
    });
</script>