﻿@model IEnumerable<SistemaConsorcio.Models.Movimientos>

@foreach (var item in Model)
{
    <div class="col-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">
                        <span>
                            @Html.DisplayFor(modelItem => item.MovimientosRubro.RubroExpensaDescripcion)
                        </span>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Descripcion: @Html.DisplayFor(modelItem => item.MovimientosDescripcion)</td>
                            </tr>
                            <tr>
                                <td>Importe: $@Html.DisplayFor(modelItem => item.MovimientosImporte)</td>
                            </tr>
                            <tr>
                                <td>
                                    Estado:
                                    @if (item.MovimientosPagado)
                                    {
                                        <span>Pagado</span>
                                    }
                                    else
                                    {
                                        <span>No Pagado</span>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}