﻿@model SistemaConsorcio.Models.Movimientos


    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo movimiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Create" class="submit-create" data-id-expensa="@ViewBag.idExpensa">
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label asp-for="RubroExpensaId" class="control-label"></label>
                            <select asp-for="RubroExpensaId" class="form-control RubroExpensaId" asp-items="ViewBag.RubroExpensaId"></select>
                        </div>
                        <div class="col">
                            <div class="switch_box box_1">
                                <label class="form-check-label">
                                    <p class="control-label">Es informacion?</p><input type="checkbox" class="switch_1 InformacionEconomica" style="margin-left:30px;">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MovimientosDescripcion" class="control-label"></label>
                    <input asp-for="MovimientosDescripcion" class="form-control MovimientosDescripcion" />
                    <span asp-validation-for="MovimientosDescripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label asp-for="MovimientosImporte" class="control-label"></label>
                            <input class="form-control MovimientosImporte" />
                            <span asp-validation-for="MovimientosImporte" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <div class="switch_box box_1">
                                <label class="form-check-label">
                                    <p class="control-label">Pagado?</p><input type="checkbox" class="switch_1 MovimientosPagado" style="margin-left:30px;">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Agregar" class="btn btn-primary btn-agregar" />
            </div>
        </form>
    </div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('.InformacionEconomica').on("change", function () {
        if ($(this).prop('checked')) {
            $('.RubroExpensaId').prop("disabled", true);
            $('.RubroExpensaId').val(1);
        } else {
            $('.RubroExpensaId').prop("disabled", false);
            $('.RubroExpensaId').val(null);
        }
    }
    );
    $('.RubroExpensaId').on("change", function () {
        if ($(this).val() == 1) {
            $(this).prop("disabled", true);
            $('.InformacionEconomica').prop('checked',true);
        } 
    }
    );

    $('.submit-create').on('submit', function (e) {
        e.preventDefault();
        $('.btn-agregar').attr("disabled",true);
        let informacioneconomica = false;
        let MovimientosPagado = false;
        if ($('.InformacionEconomica').prop('checked')) {
            informacioneconomica = true;
        }
        if ($('.MovimientosPagado').prop('checked')) {
            MovimientosPagado = true;
        }
        var mov = {
            "RubroExpensaId": $('.RubroExpensaId').val(),
            "MovimientosDescripcion": $('.MovimientosDescripcion').val(),
            "MovimientosPagado": MovimientosPagado,
            "MovimientosImporte": $('.MovimientosImporte').val(),
            "ExpensaId": idexpensa,
            "MovimientosInformacion": informacioneconomica
        }
            $.ajax({
                url: "@Url.Action("Agregar","Movimientos")",
                method: 'Post',
                data: {
                    movimientos: mov
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.movimientos').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.movimientos').load("@Url.Action("getMovimientosExpensa","Movimientos")"+'/'+idexpensa);
                    $('#ModalCU').modal('hide');
                    $('.btn-agregar').attr("disabled",false);
                } else {
                    alertify.warning(msg.alerta);
                    $('.btn-agregar').attr("disabled",false);
                }
            }).fail((err) => {
                alertify.error("Algo fallo al actualizar");
                $('.btn-agregar').attr("disabled",false);
            });
    });
    var idexpensa = $('.submit-create').data('id-expensa');
</script>


