﻿@model SistemaConsorcio.Models.Movimientos

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modificar movimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form asp-action="Create" class="submit-edit" data-id-expensa="@Model.ExpensaId" data-id="@Model.MovimientosId">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <label asp-for="RubroExpensaId" class="control-label"></label>
                        <select asp-for="RubroExpensaId" class="form-control RubroExpensaId" asp-items="ViewBag.RubroExpensaId"></select>
                    </div>
                    <div class="col">
                        <div class="switch_box box_1">
                            <label class="form-check-label">
                                <p class="control-label">Es informacion?</p><input type="checkbox" class="switch_1 InformacionEconomica" style="margin-left:30px;">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MovimientosDescripcion" class="control-label"></label>
                <input asp-for="MovimientosDescripcion" class="form-control MovimientosDescripcion" />
                <span asp-validation-for="MovimientosDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="MovimientosImporte" class="control-label"></label>
                        <input value="@Model.MovimientosImporte" class="form-control MovimientosImporte" />
                        <span asp-validation-for="MovimientosImporte" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <div class="switch_box box_1">
                            <label class="form-check-label">
                                <p class="control-label">Pagado?</p><input type="checkbox" asp-for="MovimientosPagado" class="switch_1 MovimientosPagado" style="margin-left:30px;">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark btn-quitarmodal" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Actualizar" class="btn btn-primary" />
        </div>
    </form>
</div>


<script>
    $('.InformacionEconomica').on("change", function () {
        if ($(this).prop('checked')) {
            $('.RubroExpensaId').prop("disabled", true);
            $('.RubroExpensaId').val(1);
        } else {
            $('.RubroExpensaId').prop("disabled", false);
            $('.RubroExpensaId').val(null);
        }
    }
    );
        $('.RubroExpensaId').on("change", function () {
        if ($(this).val() == 1) {
            $(this).prop("disabled", true);
            $('.InformacionEconomica').prop('checked',true);
        } 
    }
    );
    $('.submit-edit').on('submit', function (e) {
        e.preventDefault();
        let informacioneconomica = false;
        let MovimientosPagado = false;
        if ($('.InformacionEconomica').prop('checked')) {
            informacioneconomica = true;
        }
        if ($('.MovimientosPagado').prop('checked')) {
            MovimientosPagado = true;
        }
        var mov = {
            "MovimientosId": $(this).data('id'),
            "MovimientosDescripcion": $('.MovimientosDescripcion').val(),
            "MovimientosPagado": MovimientosPagado,
            "MovimientosImporte": $('.MovimientosImporte').val(),
            "RubroExpensaId": $('.RubroExpensaId').val(),
            "ExpensaId": $(this).data('id-expensa'),
            "MovimientosInformacion": informacioneconomica
        }
        console.log(mov);
        $.ajax({
                url: "@Url.Action("ActualizarMovimiento","Movimientos")",
                method: 'Post',
                data: {
                    movimientos: mov
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.movimientos').html('<i class="fas fa-circle-notch fa-spin carga"></i>');
                    $('.movimientos').load("@Url.Action("getMovimientosExpensa","Movimientos")"+'/'+$(this).data('id-expensa'));
                    $('#ModalCU').modal('hide');
                } else {
                    alertify.warning(msg.alerta);
                }
            }).fail((err) => {
                alertify.error("Algo fallo al actualizar");
            });
    });
</script>