﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SistemaConsorcio</title>
    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              asp-fallback-href="~/fontawesome/css/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
              asp-fallback-href="~/fontawesome/css/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>
<body>
    <span class="todo-contenido">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex" id="wrapper" style="min-height:100%;">
            <!-- Sidebar -->
            <div class="bg-white border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">@ViewData["nombre_consorcio"]</div>
                <div class="list-group list-group-flush">
                    <a href="" data-action="@Url.Action("getInicio")" class="list-group-item list-group-item-action btn-index-ajax active home-btn"><i class="fas fa-home"></i> Inicio</a>
                    <a href="" data-action="@Url.Action("getPropietarios","Propietarios")" class="list-group-item list-group-item-action btn-index-ajax"><i class="fas fa-users"></i> Propietarios</a>
                    <a href="#deptosSubmenu" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action"><i class="fas fa-building"></i> Departamentos <i class="fas fa-sort-down"></i></a>
                    <div class="collapse list-unstyled list-group-item-action" id="deptosSubmenu">
                        <a href="#" data-action="@Url.Action("getDepartamentos","Departamentos")" class="list-group-item list-group-item-action btn-index-ajax">&nbsp;&nbsp;<i class="fas fa-book"></i> Listado</a>
                        <a href="#" data-action="@Url.Action("getTipos","TiposDepartamentos")" class="list-group-item list-group-item-action btn-index-ajax">&nbsp;&nbsp;<i class="fas fa-home"></i> Tipos</a>
                    </div>
                    <a href="#expSubmenu" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action"><i class="fas fa-user-tag"></i> Expensas <i class="fas fa-sort-down"></i></a>
                    <div class="collapse list-unstyled list-group-item-action" id="expSubmenu">
                        <a href="" data-action="@Url.Action("getExpensaActual","Expensas")" class="list-group-item list-group-item-action btn-index-ajax btn-gestion">&nbsp;&nbsp;<i class="fas fa-cash-register"></i> Gestionar</a>
                        <a href="" data-action="@Url.Action("getExpensas","Expensas")" class="list-group-item list-group-item-action btn-index-ajax btn-historial">&nbsp;&nbsp;<i class="fas fa-clipboard-list"></i> Historial</a>
                        <a href="" data-action="@Url.Action("getRubroExpensas","RubroExpensas")" class="list-group-item list-group-item-action btn-index-ajax">&nbsp;&nbsp;<i class="fas fa-tag"></i> Rubros</a>
                    </div>
                    <a href="" data-action="@Url.Action("Index","Pagos")" class="list-group-item list-group-item-action btn-index-ajax"><i class="fas fa-money-bill-alt"></i> Pagos</a>
                    <a href="" data-action="@Url.Action("getConfiguracion","Generales")" class="list-group-item list-group-item-action btn-index-ajax"><i class="fas fa-cogs"></i> Configuración</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                    <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    @RenderBody()
                </div>
                <!-- Modal CREATE UPDATE-->
                <div class="modal fade" id="ModalCU" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-xl contain-CU" role="document">

                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>

    }
    else
    {
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    }
        </span>
    <div class="charge d-none" style="text-align:center;width:100%;margin-top:150px;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


