﻿@model SistemaConsorcio.Models.General
<p></p>
<div class="row">
    <div class="offset-md-2 col-md-8">
        <form asp-action="Edit" class="submit-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" class="GeneralId" data-id="@Model.GeneralId" />
            <div class="card">
                <a class="card-header-primary" data-toggle="collapse" href="#collapseDatos" aria-expanded="false" aria-controls="collapseDatos">Datos generales del consorcio</a>
                <div class="collapse card-body" id="collapseDatos">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="GeneralNombreAdministracion" class="control-label"></label>
                            <input asp-for="GeneralNombreAdministracion" class="form-control GeneralNombreAdministracion" />
                            <span asp-validation-for="GeneralNombreAdministracion" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="GeneralNombreConsorcio" class="control-label"></label>
                            <input asp-for="GeneralNombreConsorcio" class="form-control GeneralConsorcio" />
                            <span asp-validation-for="GeneralNombreConsorcio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="GeneralNombreCuentaBancaria" class="control-label"></label>
                            <input asp-for="GeneralNombreCuentaBancaria" class="form-control GeneralCuenta" />
                            <span asp-validation-for="GeneralNombreCuentaBancaria" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="GeneralTelefonoAdministracionCodigo" class="control-label"></label>
                            <input type="tel" asp-for="GeneralTelefonoAdministracionCodigo" class="form-control GeneralTelefonoAdministracionCodigo" />
                            <span asp-validation-for="GeneralTelefonoAdministracionCodigo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralTelefonoAdministracion" class="control-label"></label>
                            <input type="tel" asp-for="GeneralTelefonoAdministracion" class="form-control GeneralTelefonoAdministracion" />
                            <span asp-validation-for="GeneralTelefonoAdministracion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="GeneralMailFrom" class="control-label"></label>
                            <input asp-for="GeneralMailFrom" class="form-control GeneralMail" />
                            <span asp-validation-for="GeneralMailFrom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="GeneralMailPassword" class="control-label"></label>
                            <input asp-for="GeneralMailPassword" class="form-control GeneralPass" />
                            <span asp-validation-for="GeneralMailPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <a class="card-header-primary" data-toggle="collapse" href="#collapsePercent" aria-expanded="false" aria-controls="collapsePercent">Porcentajes del consorcio</a>
                <div class="collapse card-body" id="collapsePercent">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralDiaPrimerVencimiento" class="control-label"></label>
                            <input asp-for="GeneralDiaPrimerVencimiento" class="form-control GeneralDiaPrimerVencimiento" required />
                            <span asp-validation-for="GeneralDiaPrimerVencimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralDiaSegundoVencimiento" class="control-label"></label>
                            <input asp-for="GeneralDiaSegundoVencimiento" class="form-control GeneralDiaSegundoVencimiento" required />
                            <span asp-validation-for="GeneralSegundoVencimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralDiaTercerVencimiento" class="control-label"></label>
                            <input asp-for="GeneralDiaTercerVencimiento" class="form-control GeneralDiaTercerVencimiento" required />
                            <span asp-validation-for="GeneralDiaTercerVencimiento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralPrimerVencimiento" class="control-label"></label>
                            <input asp-for="GeneralPrimerVencimiento" class="form-control GeneralPrimerVencimiento" required />
                            <span asp-validation-for="GeneralPrimerVencimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralSegundoVencimiento" class="control-label"></label>
                            <input asp-for="GeneralSegundoVencimiento" class="form-control GeneralSegundoVencimiento" required />
                            <span asp-validation-for="GeneralSegundoVencimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralTercerVencimiento" class="control-label"></label>
                            <input asp-for="GeneralTercerVencimiento" class="form-control GeneralTercerVencimiento" required />
                            <span asp-validation-for="GeneralTercerVencimiento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="GeneralPorcentajeCochera" class="control-label"></label>
                            <input asp-for="GeneralPorcentajeCochera" class="form-control GeneralPorcentajeCochera" required />
                            <span asp-validation-for="GeneralPorcentajeCochera" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <a class="card-header-primary" data-toggle="collapse" href="#collapseFunctions" aria-expanded="false" aria-controls="collapseFunctions">Funciones del consorcio</a>
                <div class="collapse card-body" id="collapseFunctions">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="switch_box box_1 col">
                                <label class="form-check-label">
                                    <label asp-for="GeneralEnvioMails" class="control-label" style="display:block"></label><input class="switch_1 switch_suscr GeneralEnvioMails" asp-for="GeneralEnvioMails">
                                </label>
                                <span asp-validation-for="GeneralEnvioMails" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="switch_box box_1 col">
                                <label class="form-check-label">
                                    <label asp-for="GeneralVencimientoHabiles" class="control-label" style="display:block"></label><input class="switch_1 switch_suscr GeneralVencimientoHabiles" asp-for="GeneralVencimientoHabiles">
                                </label>
                                <span asp-validation-for="GeneralVencimientoHabiles" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    $('.submit-edit').on('submit', function (e) {
        e.preventDefault();
        var conf = {
            "GeneralId": $('.GeneralId').data('id'),
            "GeneralNombreAdministracion": $('.GeneralNombreAdministracion').val(),
            "GeneralNombreConsorcio": $('.GeneralConsorcio').val(),
            "GeneralNombreCuentaBancaria": $('.GeneralCuenta').val(),
            "GeneralMailFrom": $('.GeneralMail').val(),
            "GeneralMailPassword": $('.GeneralPass').val(),
            "GeneralPrimerVencimiento": $('.GeneralPrimerVencimiento').val(),
            "GeneralSegundoVencimiento": $('.GeneralSegundoVencimiento').val(),
            "GeneralTercerVencimiento": $('.GeneralTercerVencimiento').val(),
            "GeneralPorcentajeCochera": $('.GeneralPorcentajeCochera').val(),
            "GeneralTelefonoAdministracion": $('.GeneralTelefonoAdministracion').val(),
            "GeneralTelefonoAdministracionCodigo": $('.GeneralTelefonoAdministracionCodigo').val(),
            "GeneralDiaPrimerVencimiento": $('.GeneralDiaPrimerVencimiento').val(),
            "GeneralDiaSegundoVencimiento": $('.GeneralDiaSegundoVencimiento').val(),
            "GeneralDiaTercerVencimiento": $('.GeneralDiaTercerVencimiento').val(),
            "GeneralEnvioMails": ($('.GeneralEnvioMails').prop('checked'))?true:false,
            "GeneralVencimientoHabiles": ($('.GeneralVencimientoHabiles').prop('checked')) ? true :false
        }
        if ($('.DepartamentoCochera').prop('checked')) {
            DepartamentoCochera = true;
            DepartamentoCantidadCochera = $('.DepartamentoCantidadCochera').val();
        }
        //      if ($(this).valid()) {
            $.ajax({
                url: "@Url.Action("ActualizarConfiguracion","Generales")",
                method: 'Post',
                data: {
                    configuracion: conf
                }
            }).done((msg) => {
                if (msg.exitoso == true) {
                    alertify.success(msg.alerta);
                    $('.sidebar-heading').html(conf.GeneralNombreConsorcio);
                } else {
                    alertify.warning(msg.alerta);
                }
            }).fail((err) => {
                    alertify.error("No se pudo actualizar la configuracion");
                });
   //     }
    });
</script>
